    .color8 {
      color: #13A829 !important;
    }

    .color16 {
      color: #E08826 !important;
    }

    .color32 {
      color: #CC0C12 !important;
    }

    .color64 {
      color: #000000 !important;
    }

    .colorGray {
      color: #A0A0A0 !important;
    }
